


/* Card Grid */
.blue-card {
    background-color: #c7d6d5;
}

.red-card {
    background-color: #c20114;
}

.black-card {
    background-color: #000000;
}

.card-grid {
    /*display: flex;*/
}

.card-grid-card {
    float: left;
    position: relative;
    margin: 0.5%;
}

.card-content {
    position: absolute;
}

/*topbar*/

.topbar {
    height: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    outline: 2px solid #000000;
    margin-bottom: 0.5%;
}

.topbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topbar li {
    display: inline;
    text-align: center;
}

.topbar li a {
    float: right;
    padding: 10px;
    color: #000000;  
}

.topbar .logo {
    float: left;
}

/* media queries are applied independently
The one that appears after will overwrite
the one that appears first */

/* large screens */
@media only screen and (min-width: 993px) {
    /* 4/row */
    .card-grid-card {
        width: 24%;
        padding-bottom: 24%;
    }
}

/* med screens */
@media only screen and (max-width: 992px) {
    /* 3/row */
    .card-grid-card {
        width: 32.33%;
        padding-bottom: 32.33%;
    }
}

/* Small screens */
@media only screen and (max-width: 480px) {
    /* 2/row */
    .card-grid-card {
        width: 49%;
        padding-bottom: 49%;
        margin: 0.5%;
    }
}