<div>
	<div class="full-bg-img" ng-style="{'backgroundImage': 'url(rsrc/img/cityscape2.jpeg)'}">
		<img ng-src="rsrc/img/SIRHAMY-W-Lrg.png" 
			class="img-responsive center-block main-logo">
		<div class="main-text">
			<a href="http://sirhamy.com/blog" target="_self"><p>Blog</p></a>
			<a ng-mouseover="control.connectHover()">Connect</a>
		</div>
		<div class="connect-panel row-fluid" ng-init="control.connectEnabled=false" ng-show="control.connectEnabled">
				<a class="connect-icon" href="https://github.com/SIRHAMY"><i class="fa fa-github fa-3x"></i></a>
				<a class="connect-icon" href="https://plus.google.com/u/0/+HamiltonGreene/posts"><i class="fa fa-google-plus fa-3x"></i></a>
				<a class="connect-icon" href="https://www.linkedin.com/in/hamiltongreene"><i class="fa fa-linkedin fa-3x"></i></a>
				<a class="connect-icon" href="https://www.youtube.com/user/MRhamiltong"><i class="fa fa-youtube-play fa-3x"></i></a>
		</div>
	</div>
</div>